Pillow
PySide6
PyYAML
dill
gitpython
ipython
matplotlib
numpy
onnx
onnx-simplifier
onnxruntime
opencv-contrib-python
opencv-python
pandas
psutil
py-cpuinfo
pyqt5
requests
rich
scipyw
seaborn
setuptools
thop
torch
torchvision
tqdm
ultralytics
